# Initial exploration
This notebook is a very dirty initial exploration that I used to get familiar with the tables and develop a very basic, pure SQL solution

In [15]:
import pandas as pd
with open('/home/andreas/Dropbox/Projects/scoring-probability/credentials', 'r') as credentials_file:
    URI = credentials_file.read()

In [16]:
URI

'postgres://read-only:p8f16aa1b279878cbacbe93faed0dd7a1596e083508414ba67daf324256613841@ec2-63-34-153-74.eu-west-1.compute.amazonaws.com:5432/d3gr442fqcnd3q'

In [9]:
tables = ['data_teams', 'data_players', 'data_fixtures', 'data_appearances', 'data_goals']

data_tables = []
for table in tables:
    query = f"""
    select * from {table} limit 10
    """

    data_tables.append(pd.read_sql(query, URI))

In [10]:
data_tables[0]

,id,uid,name,abbreviation,primary_color,secondary_color,badge_type
0,1,26c18c73d798a2e9ff08c2561b629334,Chelsea,CFC,blue,yellow,plain
1,2,119931e2a74a515e90fbee2b85cb2240,Arsenal,AFC,red,white,split
2,3,e1d38e23258af8a54310a6f5d8e2e763,Tottenham,THFC,white,dark_blue,split
3,4,8cd5a8688470ceac00f19fc29496e909,Manchester United,MUFC,red,black,split
4,5,d5ecf90ba9bdd9351230051d82462443,Manchester City,MCFC,light_blue,white,split
5,6,95b45d4299b745460014917ece312a55,Liverpool,LFC,red,red,plain
6,7,9d292673b9c1ebe339be9d36032d5e2e,West Ham,WHU,maroon,light_blue,split
7,8,7835f9dc50a9bf017cfa2a717a0b4183,Leicester,LCFC,blue,yellow,plain
8,9,dd3921ba7c2f10499d43f1b7843792d7,Bournemouth,BOU,red,black,striped
9,10,c87e4c8ad8523bb05693b9e43e085ae2,Watford,WAT,yellow,black,striped

In [11]:
data_tables[1]

,id,uid,name,team_uid,number,position,temp_points
0,8,aaa795202acdec2c4341a2f6a5c29b5a,Olivier Giroud,26c18c73d798a2e9ff08c2561b629334,18,centre-forward,12
1,3,58ee0524fa6174c6e3933c70ab07c85c,Mason Mount,26c18c73d798a2e9ff08c2561b629334,19,centre-mid,16
2,6,64a460037fd8ffb5288d9bd3379f4334,Christian Pulisic,26c18c73d798a2e9ff08c2561b629334,22,left-forward,16
3,2,fcfea2948eee51f34a49d78fcbe36965,Pedro,26c18c73d798a2e9ff08c2561b629334,11,left-forward,14
4,7,bfd9b4d53a4f1baec1d3575da98130e1,Michy Batshuayi,26c18c73d798a2e9ff08c2561b629334,23,centre-forward,14
5,16,fb9bdc92af8fc85f0428675e1e01f8fa,Reece James,26c18c73d798a2e9ff08c2561b629334,24,right-back,28
6,12,25c00d6afd77adcfe43d61c77175c2eb,Cesar Azpilicueta,26c18c73d798a2e9ff08c2561b629334,28,right-back,26
7,5,f6fdb0ea421c684f338d68ed8da4976b,Callum Hudson-Odoi,26c18c73d798a2e9ff08c2561b629334,20,right-forward,18
8,1,a4fcb768960f3dffc49ec0b2f2418271,Willian,26c18c73d798a2e9ff08c2561b629334,10,right-forward,14
9,9,22abfbaaf0709a23404b318cc9cecd50,Ross Barkley,26c18c73d798a2e9ff08c2561b629334,8,centre-back,18

In [18]:
data_tables[1].position.value_counts(normalize=True)*100

right-back        20.0
right-forward     20.0
centre-forward    20.0
left-forward      20.0
centre-mid        10.0
centre-back       10.0
Name: position, dtype: float64

In [12]:
data_tables[2]

,id,uid,home_team_uid,away_team_uid,gameweek,year,kick_off
0,17,aa2b0c8b7ed6f923f2c8327829cf0519,d5ecf90ba9bdd9351230051d82462443,e1d38e23258af8a54310a6f5d8e2e763,2,1920,2019-08-17 17:30:00
1,212,2400d88e5a0c22eefa6e6d8e2e1d620e,d5ecf90ba9bdd9351230051d82462443,cae42f7c3e2adcd096726ff496b2473a,20,1920,2019-12-29 20:00:00
2,204,c3ed2bf5be88f147ad74eb557cc7f531,f00dd4a6eaf0f1f920ac830b98dfba9a,9535a843650d70e7f1c3991dbaad9f3f,20,1920,2019-12-28 15:00:00
3,205,99e48eb226b3cd6b5bbec64d915b0387,15beeb75ecde614eb2f03aaa777197ed,4f53fd2858c029ba8e06176cc64490e7,20,1920,2019-12-28 15:00:00
4,203,b9ebffa15bfca4a1f2f2ce09efd69f6c,28364924fd58165eac87cce81c453b0f,65ae06e039f3cdb0beeaa363524bde95,21,1920,2020-01-01 12:30:00
5,240,7e185ea6e3f47d561d693ed18a74d2f6,65ae06e039f3cdb0beeaa363524bde95,d5ecf90ba9bdd9351230051d82462443,22,1920,2020-01-12 16:30:00
6,206,f8f1cd2dab8fbce565f03d7e54e74c6b,c87e4c8ad8523bb05693b9e43e085ae2,65ae06e039f3cdb0beeaa363524bde95,20,1920,2019-12-28 15:00:00
7,207,df71aa8ee4eb093805899616d67a3a92,f5fd7f99db76e3b5f9082b3ea1807f44,e1d38e23258af8a54310a6f5d8e2e763,20,1920,2019-12-28 17:30:00
8,208,db31eabccf894dfe07984f4e021301eb,9d292673b9c1ebe339be9d36032d5e2e,7835f9dc50a9bf017cfa2a717a0b4183,20,1920,2019-12-28 17:30:00
9,209,d247237882312a502e5affcfc9bc47f0,28364924fd58165eac87cce81c453b0f,8cd5a8688470ceac00f19fc29496e909,20,1920,2019-12-28 19:45:00

In [13]:
data_tables[3]

,id,uid,player_uid,team_uid,fixture_uid,appearance_type
0,3909,a1f60485c55df199c35365b7e1f217d3,a3285dae472825963634f6c80c8a784b,9d292673b9c1ebe339be9d36032d5e2e,e824e70d7fb959f9e02728cd3c636614,start
1,3910,6fe04b5c747bb35903940ff57b50ff65,720825b0bed35152e66a62b5b2ef766c,9d292673b9c1ebe339be9d36032d5e2e,e824e70d7fb959f9e02728cd3c636614,start
2,3911,8a97473b5455c6b4f62dcd20044e5fb4,ccfe708055e0b4e2eb2721f48307b4ff,9d292673b9c1ebe339be9d36032d5e2e,e824e70d7fb959f9e02728cd3c636614,start
3,3912,50b0d816025dce614a27341a7568b303,0c9af7199aa134e3a170f06286e33d2a,9d292673b9c1ebe339be9d36032d5e2e,e824e70d7fb959f9e02728cd3c636614,start
4,48,791b38aa929192ea1fff677893b82b28,a2bc5438217bd7cc8b2947f556d4b879,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start
5,49,62c4a71dabb8ce9a806c1c0cc8eb9c30,0879309c936fd3ba03dffeaf21f7883a,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start
6,50,aa3bc6c5806679bf4902942a04f928b5,088d8699b2071893de185f349e7c47fa,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start
7,51,5bcf83d9630d635a59a7edccfac84003,99ff188df22db2c471f03b09eb96d0a2,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start
8,52,1957c12b552e2e61ed0f18eeb3997578,f9c01c65d0bf2098c004f0ac6d216397,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start
9,53,171c7e1769cee2f6a7a80e1c810adfba,3242ec07aa801d679dba4056174d1005,9d292673b9c1ebe339be9d36032d5e2e,c234ba3c78a51d023833c83b88a7fa5d,start

In [14]:
data_tables[4]

,id,uid,player_uid,team_uid,fixture_uid
0,526,b6846c87f89174544fc91634fdefdd6e,939086263c1b47747c761829822870d9,7835f9dc50a9bf017cfa2a717a0b4183,2307ada560cd1dab0f901ade7ea726c3
1,527,5716ceb32428b765908149117ec41b51,89d6aca094c8201d2c1f36b1752c011e,7835f9dc50a9bf017cfa2a717a0b4183,2307ada560cd1dab0f901ade7ea726c3
2,528,bf944afe336546765cf8a9b5007e22ad,647e6010d5566913fc55e490bdb00b4b,9535a843650d70e7f1c3991dbaad9f3f,2307ada560cd1dab0f901ade7ea726c3
3,535,ad87de40fe25f5e24ea12c323ae176be,53564352525c8815367bf141bdea40e1,26c18c73d798a2e9ff08c2561b629334,cf973deac35d03008d6c1e2cc124718c
4,5,49338fd837f5809d304b805b714626bc,ca3f3c2b1e14a581af15676f662197b5,d5ecf90ba9bdd9351230051d82462443,c234ba3c78a51d023833c83b88a7fa5d
5,6,d3af766553f694b1450a35df4b5a4919,ca3f3c2b1e14a581af15676f662197b5,d5ecf90ba9bdd9351230051d82462443,c234ba3c78a51d023833c83b88a7fa5d
6,7,c93d53b6211e8b6d128ccda8bc7e4dd7,ca3f3c2b1e14a581af15676f662197b5,d5ecf90ba9bdd9351230051d82462443,c234ba3c78a51d023833c83b88a7fa5d
7,8,85bd2d228ea6a986bdfe1f9efdb7ab51,18d7b38543376e5822a01fadd4c9a914,d5ecf90ba9bdd9351230051d82462443,c234ba3c78a51d023833c83b88a7fa5d
8,9,0fc8509b83cd441409a29cfb100e489a,bcdc97bd3e6bee4e5b85a409e0cf95de,d5ecf90ba9bdd9351230051d82462443,c234ba3c78a51d023833c83b88a7fa5d
9,536,c523dd3b417c9a11189393cdc0102552,58ee0524fa6174c6e3933c70ab07c85c,26c18c73d798a2e9ff08c2561b629334,cf973deac35d03008d6c1e2cc124718c

Have a fixtures table that we can easily link to appearances + goals to see who scored when

Needs:
* a table with every appearance of a player and whether or not they scored - would be our basic "train" set
* can get the basic table straight from the appearances and goals - then tag on game info from  fixtures

Doubts:
* How to take into account starts?
* Maybe this just reduces to "given plays - what is the probability"
* Could just count the number of games the team has played, rather than how many games the player has played

Probability within gameweek? depends how score


TO DO:
* Need to fill in blanks - could probably do this by just taking the original fixtures, joining on players, and then joining on appearance

NOTE that an issue is probably "recency", so maybe could do something like only taking the last X games into account

In [118]:
with open('player-scored-query.sql', 'r') as query_file:
    query = query_file.read()

In [119]:
result = pd.read_sql(query, URI)

In [120]:
result.chance_score.describe()

count    16044.00000
mean         8.97457
std         10.98746
min          0.00000
25%          0.00000
50%          5.00000
75%         13.00000
max         72.00000
Name: chance_score, dtype: float64

In [114]:
result.chance_score.describe()

count    170819.000000
mean          7.372101
std           8.983977
min           0.000000
25%           0.000000
50%           4.000000
75%          11.000000
max          71.000000
Name: chance_score, dtype: float64

In [106]:
result.chance_score.describe()

count    170278.000000
mean          7.361321
std           8.965055
min           0.000000
25%           0.000000
50%           4.000000
75%          11.000000
max          71.000000
Name: chance_score, dtype: float64

In [91]:
result.chance_score.describe()

count    16119.000000
mean         4.437496
std         10.402582
min          0.000000
25%          0.000000
50%          0.000000
75%          4.000000
max        100.000000
Name: chance_score, dtype: float64

In [92]:
from sklearn.metrics import roc_auc_score

In [99]:
roc_auc_score(result.dropna(subset=['chance_score']).scored, result.dropna(subset=['chance_score']).chance_score / 100)

0.734059775173161

In [121]:
roc_auc_score(result.scored, result.chance_score / 100)

0.8310390972292635

In [87]:
result

,fixture_uid,team_uid,is_home,player_uid,kick_off,gameweek,season,position,played,scored,appearance_number,matches_scored,match_number,chance_score_given_played,chance_score
0,c234ba3c78a51d023833c83b88a7fa5d,9d292673b9c1ebe339be9d36032d5e2e,1,015ab60ee2fcf75b0326823cf47fc32b,2019-08-10 12:30:00,1,1920,gk,0,0,0,0,1,NaN,NaN
1,d7527be5828734075d0caa9194c69437,9d292673b9c1ebe339be9d36032d5e2e,0,015ab60ee2fcf75b0326823cf47fc32b,2019-08-17 15:00:00,2,1920,gk,0,0,0,0,2,NaN,0.0
2,282a535c1a57b5aa490b45927d41c57a,9d292673b9c1ebe339be9d36032d5e2e,0,015ab60ee2fcf75b0326823cf47fc32b,2019-08-24 15:00:00,3,1920,gk,0,0,0,0,3,NaN,0.0
3,51c192c4d46d8e91d3068f0fd56d3e75,9d292673b9c1ebe339be9d36032d5e2e,1,015ab60ee2fcf75b0326823cf47fc32b,2019-08-31 15:00:00,4,1920,gk,0,0,0,0,4,NaN,0.0
4,754a58406ca76df91d773087f45f2ccd,9d292673b9c1ebe339be9d36032d5e2e,0,015ab60ee2fcf75b0326823cf47fc32b,2019-09-16 20:00:00,5,1920,gk,0,0,0,0,5,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16655,04bba9062e80633cad2fb51a837bfe9c,e1d38e23258af8a54310a6f5d8e2e763,0,ff3e766887e6f91d05cba283f93b36a1,2020-02-22 12:30:00,27,1920,centre-back,1,0,18,1,27,5.0,3.0
16656,8a5ec827534a66b9680101316d8b7c62,e1d38e23258af8a54310a6f5d8e2e763,1,ff3e766887e6f91d05cba283f93b36a1,2020-03-01 14:00:00,28,1920,centre-back,0,0,18,1,28,5.0,3.0
16657,61bc134812782a24a87ec73d2b885be4,e1d38e23258af8a54310a6f5d8e2e763,0,ff3e766887e6f91d05cba283f93b36a1,2020-03-07 17:30:00,29,1920,centre-back,0,0,18,1,29,5.0,3.0
16658,4e9f69192069db2c05afb8ea2cb68d39,e1d38e23258af8a54310a6f5d8e2e763,1,ff3e766887e6f91d05cba283f93b36a1,2020-03-15 16:30:00,30,1920,centre-back,0,0,18,1,30,5.0,3.0
16659,6536793c42a3c6911bd5e7347f202773,e1d38e23258af8a54310a6f5d8e2e763,1,ff3e766887e6f91d05cba283f93b36a1,2020-03-20 20:00:00,31,1920,centre-back,0,0,18,1,31,5.0,3.0

I guess the next thing would be to calculate some probabilities and then see how well they line up with the reality

We only have a single season of data so maybe pull prior from own data, even though that's a bit janky - otherwise could fix some values based on historical data from outside

For a beta - we choose the parameters to give the correct mean, but also to allow for enough variance (i.e. 10 / 100 vs 1 / 10)

In [54]:
result.scored.value_counts(normalize=True) * 100

0    91.299213
1     8.700787
Name: scored, dtype: float64

In [55]:
result.groupby('fixture_uid').scored.sum().value_counts(normalize=True) * 100

3    30.575540
2    30.215827
1    17.625899
4    11.510791
0     5.755396
5     3.237410
6     1.079137
Name: scored, dtype: float64

In [56]:
result.groupby('position').scored.mean() * 100

position
centre-back        4.153846
centre-forward    23.319328
centre-mid         6.334597
gk                 0.000000
left-back          3.256705
left-forward      18.199234
left-mid           8.879493
right-back         3.201220
right-forward     17.600000
right-mid          9.568480
Name: scored, dtype: float64

In [70]:
result['position_reduced'] = result.position.str.replace('.*-', '')

In [62]:
result.groupby('position_reduced').scored.mean() * 100

position_reduced
back        3.712672
forward    20.939675
gk          0.000000
mid         7.360673
Name: scored, dtype: float64

In [63]:
result.groupby(['is_home', 'position_reduced']).scored.mean() * 100

is_home  position_reduced
0        back                 3.387097
         forward             20.443925
         gk                   0.000000
         mid                  5.841446
1        back                 4.038772
         forward             21.428571
         gk                   0.000000
         mid                  8.904594
Name: scored, dtype: float64

In [72]:
(result.groupby(['team_uid', 'is_home', 'position_reduced']).scored.mean() * 100).head(50)

team_uid                          is_home  position_reduced
119931e2a74a515e90fbee2b85cb2240  0        back                 1.923077
                                           forward             21.276596
                                           gk                   0.000000
                                           mid                  1.470588
                                  1        back                 8.333333
                                           forward             30.909091
                                           gk                   0.000000
                                           mid                  1.587302
15beeb75ecde614eb2f03aaa777197ed  0        back                 1.666667
                                           forward             16.000000
                                           gk                   0.000000
                                           mid                 12.857143
                                  1        back                 4.761905
                                           forward             18.750000
                                           gk                   0.000000
                                           mid                  4.285714
26c18c73d798a2e9ff08c2561b629334  0        back                 5.405405
                                           forward             17.543860
                                           gk                   0.000000
                                           mid                 14.285714
                                  1        back                 4.411765
                                           forward             13.333333
                                           gk                   0.000000
                                           mid                 12.000000
28364924fd58165eac87cce81c453b0f  0        back                 1.724138
                                           forward             26.829268
                                           gk                   0.000000
                                           mid                  2.941176
                                  1        back                 0.000000
                                           forward             25.641026
                                           gk                   0.000000
                                           mid                  8.333333
4f53fd2858c029ba8e06176cc64490e7  0        back                 5.000000
                                           forward             19.047619
                                           gk                   0.000000
                                           mid                  2.777778
                                  1        back                 1.612903
                                           forward             11.627907
                                           gk                   0.000000
                                           mid                  5.714286
65ae06e039f3cdb0beeaa363524bde95  0        back                 1.923077
                                           forward             18.604651
                                           gk                   0.000000
                                           mid                  7.317073
                                  1        back                 6.382979
                                           forward             20.000000
                                           gk                   0.000000
                                           mid                  7.894737
7835f9dc50a9bf017cfa2a717a0b4183  0        back                 4.838710
                                           forward             29.166667
Name: scored, dtype: float64